@model Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Details Page</h1>
<br />
<br />
 <form>
    <partial name="EmployeePartialView/DeleteDetailsView.cshtml" />

    <div class="my-3">
        <a asp-action="Edit"asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>

        <a asp-action="Index" class="btn btn-danger">Back</a>
    </div>
 </form>

