@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Department</h1>
<br />
<br />
<form asp-action="Delete">
<div >

        <partial name="DepartmentPartialView/DeleteDetailsView.cshtml" />
    <div class="my-3">
      <input type="submit"value="Delete"class="btn btn-danger"></input>
        <a asp-action="Index" class="btn btn-light">Back</a>
    </div>
</div>
</form>
